.boton {
	background-color: #0066ff;
padding: 6px 15px;
border-radius: 4px;
color: #fff
}

.pos{
	margin: 9rem;
	border-radius: 
}

.pos input {
		width: 95%
	border-radius: 1rem;
	border: 1px solid #d6d6c2;
}

.pol {
	border:
}