.boton {
	background-color: #0066ff;
padding: 6px 15px;
border-radius: 4px;
color: #fff
}

.pos{
	margin: 6rem;
	border-radius: 5px;
	border: 1px solid gray;
}

.pos input {
	border-radius: 4px;
	border: 1px solid #d6d6c2;
}

.pol {
	border:1px solid: #d6d6c2;
	background-color: #D8D8D8;
}